/*External CSS Stylesheet
*/

body {
    background-color: lightgray;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    background-color: darkgray;
    color: #1e558d;
    padding-bottom: 10px;
    border-radius: 20px;
}
h2 {
    color: #1e558d; 
}

.content {
    background-color: darkgrey;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-bottom: 60px;
}

.photo1 {
    border-radius: 30px;
    border-color: darkgray;
}